@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

* {
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #282c34;
  font-size: 2vmin;
  font-family: JetBrains Mono, monospace;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction:column-reverse;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

header {
  position: absolute;
  background: #282c34;
  font-size: 2vmin;
  font-family: JetBrains Mono, monospace;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e4bb68;
}

.string {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: move 4s infinite;
}

.greeting {
  position: relative;
  top: 8.6vmin;
  animation: white-out 5s infinite;
}

.closure::after {
  content: '';
  position: absolute;
  height: 25vmin;
  width: 40vmin;
  background: #282c34;
  transform: translate(-45vmin, -24.5vmin);
}

.closure::before {
  content: '';
  position: absolute;
  height: 25vmin;
  width: 40vmin;
  background: #282c34;
  transform: translate(-40vmin, 5vmin);
}

.en {
  color: #fa8231;
}

.es {
  color: white;
}

.pt {
  color: #c678dd;
}

.it {
  color: #a9b0bd;
}

@keyframes move {
  25% {
    transform: translatey(-5.8vmin);
    opacity: 1;
  }
  50% {
    transform: translatey(-11vmin);
  }
  75% {
    transform: translatey(-16.5vmin);
  }
}
.centered-text {
  position:fixed;
  margin-top: 20vmin; /* Espaçamento superior para separar do conteúdo acima */
  font-size: 2vmin; /* Ajuste o tamanho da fonte conforme necessário */
  flex-grow: 1; /* Permite que este bloco cresça para preencher o espaço disponível */
  display: flex;
  justify-content: center;
  align-items: center; /* Centraliza verticalmente */
}


#area{
    position: fixed;
    margin-top: 100px;
    width: 10px;
    height: 10px;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 15px;
}
#opcNo:hover{
    color: rgb(119, 119, 119);
}
#opcyes:hover{
    color: rgb(119, 119, 119);
}
.option{
  margin-right: 70px;
  position:absolute;
  margin-top: 20vmin; /* Espaçamento superior para separar do conteúdo acima */
  font-size: 4vmin; /* Ajuste o tamanho da fonte conforme necessário */
  flex-grow: 1; /* Permite que este bloco cresça para preencher o espaço disponível */
  display: flex;
  justify-content: center;
  cursor:pointer;
}

.option2{
  cursor:not-allowed;
  margin-left: 70px;
  position:absolute;
  margin-top: 20vmin; /* Espaçamento superior para separar do conteúdo acima */
  font-size: 4vmin; /* Ajuste o tamanho da fonte conforme necessário */
  flex-grow: 1; /* Permite que este bloco cresça para preencher o espaço disponível */
  display: flex;
}

